@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&family=Space+Grotesk:wght@500;700&display=swap");

:root {
  color-scheme: only light;
  font-family: "Sora", sans-serif;
  background-color: #eaf3ff;
  color: #09223d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at 15% 20%, #f2f9ff 0%, #dfefff 52%, #cfe7ff 100%);
}

#root {
  min-height: 100vh;
}
